[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "==4.6.5"
pytest-cov = "==2.7.1"
pytest-randomly = "==3.0.0"
pyftpdlib = "==1.5.5"

[packages]
fs = "*"
pyminizip = "*"
